/* some code */
body {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  list-style: none;
  gap: 30px;
}

.logo,
li a {
  text-decoration: none;
  color: #333;
  font-size: large;
}

a:hover {
  color: #04aa6d;
}

.logo {
  font-weight: 800;
}

.navbar li:nth-child(2) {
  margin-left: 800px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

input {
  width: 300px;
  height: 20px;
  border: 1px solid grey;
}

.add {
  width: 100px;
  padding: 10px;
  border: 1px #04aa6d solid;
  background-color: #fff;
  color: #04aa6d;
  border-radius: 10px;
}

.add:hover {
  background-color: #04aa6d;
  color: #fff;
}

.remove {
  width: 100px;
  padding: 10px;
  border: 1px rgb(184, 14, 14) solid;
  background-color: #fff;
  color: rgb(184, 14, 14);
  border-radius: 10px;
}

.remove:hover {
  background-color: rgb(184, 14, 14);
  color: #fff;
}

.nav__link--1,
.nav__link--2 {
  border-right: 1px solid #000;
  padding-right: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}

.contac {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.copyright {
  position: fixed;
  bottom: 0;
  border: 1px solid #000;
  width: 100%;
  padding: 0 10px;
}

.invisible {
  display: none;
}
